/*
еще один коммит
*/


:root {
    --light-text: #e5e5e5;
    --dark-text: #A0583C;
}

.fl {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo-container,
.auth-container {
    flex: 1;
}

.auth-container {
    text-align: right;
}

ul {
    justify-content: center;
}

.nav-container {
    flex: 2;
}

header a {
    color: var(--light-text)
}

.banner-bg {
    width: 100%;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--light-text);
    text-decoration: none;
    font-family: Roboto;
}

.powerup {
    font-weight: 900;
    font-size: 72px
}

.p1 {
    font-weight: 400;
    font-size: 24px
}

.exploreus {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: var(--light-text);
    padding: 20px 45px;
    border-radius: 20px !important;
    background: linear-gradient(90deg, #A0583C 0%, #C08267 100%);
    margin: 5px;
}

.top {
    color: var(--light-text);
}

.logo {
    font-size: 24px;
    font-family: Mulish;
    font-style: italic;
    font-weight: bold;
    margin-left: 15px;
}

.navigation {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    color: var(--light-text);
    margin: 0 25px;

}

.auth-container a {
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
}

.btn {
    color: var(--light-text);
    font-family: Poppins;
    font-weight: 400;
    background-color: var(--dark-text);
    border-radius: 8px;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.btn.small {
    font-size: 12px;
    padding: 12px;
    margin: 15px;
}

.logo-apple {
    position: relative;
}

.coffeeworld {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--dark-text);
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.coffeeworld span {
    background: #fff;
    padding: 0 10px;
    color: var(--dark-text);
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    margin-top: 2px;
}

.two {
    margin-top: 20px;
}

.card {
    background: rgba(192, 130, 103, 1);
    font-family: Poppins;
    border-radius: 20px;
    padding: 20px;
}

.card h1 {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 37.5px;
    color: white;
}

.card p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: white;
}

.ordernow {
    text-decoration: none;
    background: var(--dark-text);
    border-radius: 10px;
    padding: 3px 10px;
    text-align: center;
    color: white;
}

.ordernow a {
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}

.card-container {
    display: flex;
    gap: 20px;
    margin: 0px 20px;
}

.price {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
    text-align: left;
    color: white;
}

.card img {
    border-radius: 20px;
    width: 100%;
}

.card div {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.logos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logos img {
    width: 100%;
}

footer {
    background-color: rgba(192, 130, 103, 1);
    display: flex;
}

.getintouch {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--dark-text);
    line-height: 0.1em;
    margin: 10px 0 20px;
    border-color: white;
}

.getintouch span {
    background: rgba(192, 130, 103, 1);
    padding: 0 10px;
    color: var(--dark-text);
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    margin-top: 2px;
    color: white;
}

footer div h1 a {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

footer div a {
    color: white;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
}
.links{
    display: flex;
    padding: 100px 20px;
}
